/* Büyük, minimalist başlıklar */
h1 {
  font-size: 60px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  color: #000060;
  text-align: left;
  margin-bottom: 30px;
}

/* Buton stili (Apple tarzı) */
.button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #444; /* Hover efekti için koyu gri */
}

.center-text {
  text-align: center;
  background-color: transparent;
}
